<div>
    <h2>
        <span jhiTranslate="unchainedApp.poll.home.title">Polls</span>
        <button class="btn btn-primary float-right create-poll" [routerLink]="['/', { outlets: { popup: ['poll-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="unchainedApp.poll.home.createLabel">
            Create new Poll
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="polls">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="unchainedApp.poll.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="options"><span jhiTranslate="unchainedApp.poll.options">Options</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="expiration"><span jhiTranslate="unchainedApp.poll.expiration">Expiration</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let poll of polls ;trackBy: trackId">
                <td><a [routerLink]="['../poll', poll.id ]">{{poll.id}}</a></td>
                <td>{{poll.name}}</td>
                <td>{{poll.options}}</td>
                <td>{{poll.expiration | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../poll', poll.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'poll/'+ poll.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'poll/'+ poll.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="polls && polls.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
