
<div *ngIf="poll">
    <h2><span jhiTranslate="unchainedApp.poll.detail.title">Poll</span> {{poll.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="unchainedApp.poll.name">Name</span></dt>
        <dd>
            <span>{{poll.name}}</span>
        </dd>
        <dt><span jhiTranslate="unchainedApp.poll.options">Options</span></dt>
        <dd>
            <div *ngFor="let option of options; let i = index">
	            <div class="table-responsive" >
		            <table class="table table-striped">
		            	<thead>
		           			<tr>
			           			<th>Option {{i+1}}</th>
			           			<th *ngIf="poll.status == 0">Count</th>
		           			</tr>
	            		</thead>
	            		<tbody>
		            		<tr>
			            		<td>
					                <button *ngIf="poll.status==1" (click)="vote(option.name)" type="button" class="btn btn-primary">
					                    <span class="fa"></span>&nbsp;<span>{{option.name}}</span>
					                </button>
					                <div *ngIf="poll.status==0" class="btn btn-primary">
					                	<span class="fa"></span>&nbsp;<span>{{option.name}}</span>
					                </div>
				                </td>
				                <td>
									<div *ngIf="poll.status==1" >
										<p>{{option.count}}</p>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
            </div>
        </dd>
        <dt><span jhiTranslate="unchainedApp.poll.expiration">Expiration</span></dt>
        <dd>
            <span>{{poll.expiration | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'poll/'+ poll.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

    <button type="button"
            (click)="close()"
            class="btn btn-danger">
        <span class="fa fa-remove"></span>&nbsp;<span jhiTranslate="entity.action.close"> Close</span>
    </button>
</div>
